*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}


.pattern {
    list-style-type: none;
    /* counter-reset: css-counter 0; initializes counter to 0; use -1 for zero-based numbering */
  }
  
.pattern {
    counter-increment: css-counter 1; /* Increase the counter by 1. */
}

.pattern:before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: counter(css-counter) ". "; /* Apply counter before children's content. */
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
}


.pattern{
    display: block;
    width: 100%;
    height: 150vh;
    opacity: 1.0;
    top: 0;
    left: 0;
    background-image: url("../img/a-01.svg"); background-size: 72px;
}

.pattern:nth-child(1){background-image: url("../img/a-01.svg"); background-size: 288px;}
.pattern:nth-child(2){background-image: url("../img/a-02.svg"); background-size: 288px;}
.pattern:nth-child(3){background-image: url("../img/a-03.svg"); background-size: 288px;}
.pattern:nth-child(4){background-image: url("../img/a-04.svg"); background-size: 288px;}
.pattern:nth-child(5){background-image: url("../img/a-05.svg"); background-size: 288px;}
.pattern:nth-child(6){background-image: url("../img/a-06.svg"); background-size: 288px;}
.pattern:nth-child(7){background-image: url("../img/a-07.svg"); background-size: 288px;}
.pattern:nth-child(8){background-image: url("../img/a-08.svg"); background-size: 288px;}
.pattern:nth-child(9){background-image: url("../img/a-09.svg"); background-size: 288px;}

.pattern:nth-child(10){background-image: url("../img/a-10.svg"); background-size: 288px;}
.pattern:nth-child(11){background-image: url("../img/a-11.svg"); background-size: 288px;}
.pattern:nth-child(12){background-image: url("../img/a-12.svg"); background-size: 288px;}
.pattern:nth-child(13){background-image: url("../img/a-13.svg"); background-size: 288px;}
.pattern:nth-child(14){background-image: url("../img/a-14.svg"); background-size: 288px;}
.pattern:nth-child(15){background-image: url("../img/a-15.svg"); background-size: 288px;}
.pattern:nth-child(16){background-image: url("../img/a-16.svg"); background-size: 288px;}
.pattern:nth-child(17){background-image: url("../img/a-17.svg"); background-size: 288px;}
.pattern:nth-child(18){background-image: url("../img/a-18.svg"); background-size: 288px;}
.pattern:nth-child(19){background-image: url("../img/a-19.svg"); background-size: 288px;}

.pattern:nth-child(20){background-image: url("../img/a-20.svg"); background-size: 288px;}
.pattern:nth-child(21){background-image: url("../img/a-21.svg"); background-size: 288px;}
.pattern:nth-child(22){background-image: url("../img/a-22.svg"); background-size: 288px;}
.pattern:nth-child(23){background-image: url("../img/a-23.svg"); background-size: 288px;}
.pattern:nth-child(24){background-image: url("../img/a-24.svg"); background-size: 288px;}
.pattern:nth-child(25){background-image: url("../img/a-25.svg"); background-size: 288px;}
.pattern:nth-child(26){background-image: url("../img/a-26.svg"); background-size: 288px;}
.pattern:nth-child(27){background-image: url("../img/a-27.svg"); background-size: 288px;}
.pattern:nth-child(28){background-image: url("../img/a-28.svg"); background-size: 288px;}
.pattern:nth-child(29){background-image: url("../img/a-29.svg"); background-size: 288px;}

.pattern:nth-child(30){background-image: url("../img/a-30.svg"); background-size: 288px;}
.pattern:nth-child(31){background-image: url("../img/a-31.svg"); background-size: 288px;}
.pattern:nth-child(32){background-image: url("../img/a-32.svg"); background-size: 288px;}
.pattern:nth-child(33){background-image: url("../img/a-33.svg"); background-size: 288px;}
.pattern:nth-child(34){background-image: url("../img/a-34.svg"); background-size: 288px;}
.pattern:nth-child(35){background-image: url("../img/a-35.svg"); background-size: 288px;}
.pattern:nth-child(36){background-image: url("../img/a-36.svg"); background-size: 288px;}
.pattern:nth-child(37){background-image: url("../img/a-37.svg"); background-size: 288px;}
.pattern:nth-child(38){background-image: url("../img/a-38.svg"); background-size: 288px;}
.pattern:nth-child(39){background-image: url("../img/a-39.svg"); background-size: 288px;}

.pattern:nth-child(40){background-image: url("../img/a-40.svg"); background-size: 288px;}
